@using Umbraco.Cms.Core.Sync
@inject IServerRoleAccessor _serverRoleAccessor;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var shows = Model.Children<TVshowPage>();
    var latestShow = shows?.LastOrDefault();
}

@if (shows?.Any() ?? false)
{
    <h1>There are currently @shows.Count() tv shows in @_serverRoleAccessor.CurrentServerRole</h1>
}

@if (latestShow != null && latestShow.Thumbnail != null)
{
    <img src="@latestShow.Thumbnail.Url()">
    <h1>@latestShow.TvShowID</h1>
}